<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script id="allmobilize" charset="utf-8" src="style/js/allmobilize.min.js"></script>
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="alternate" media="handheld"  />
	<!-- end 云适配 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>启职者-最专业的互联网招聘平台</title>
	<meta property="qc:admins" content="23635710066417756375" />
	<meta content="" name="description">
	<meta content="" name="keywords">
	<meta name="baidu-site-verification" content="QIQ6KC1oZ6" />

<!--	<script type="text/javascript">-->
<!--		var ctx = "h";-->
<!--		console.log(1);-->
<!--	</script>-->
	<link rel="Shortcut Icon" href="h/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="style/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="style/css/external.min.css"/>
	<link rel="stylesheet" type="text/css" href="style/css/popup.css"/>
	<script src="style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="style/js/jquery.lib.min.js"></script>
	<script src="style/js/ajaxfileupload.js" type="text/javascript"></script>
	<script type="text/javascript" src="style/js/additional-methods.js"></script>
	<!--[if lte IE 8]>
	<script type="text/javascript" src="style/js/excanvas.js"></script>
	<![endif]-->
<!--	<script type="text/javascript">-->
<!--		var youdao_conv_id = 271546;-->
<!--	</script>-->
	<script type="text/javascript" src="style/js/conv.js"></script>
</head>
<body>
<div id="body">
	<div id="header">
    	<div class="wrapper">
    		<a href="index.html" class="logo">
    			<img src="/style/images/logo.png" width="229" height="60" alt="启职者-专注互联网招聘" />
    		</a>
    		<ul class="reset" id="navheader">
    			<li class="current"><a href="http://localhost:8200/login">首页</a></li>
    			<li ><a href="http://localhost:8200/companylist">公司</a></li>
    			<li ><a href="http://localhost:8200/user/jianli" rel="nofollow">我的简历</a></li>
	    	</ul>
        	<ul class="loginTop">
            	<li>欢迎：<span th:text="${session.user.name}"></span></li>
            	<li>&nbsp |</li>
            	<li><a href="/logout" rel="nofollow">退出登录</a></li>
            </ul>
         </div>
    </div><!-- end #header -->
    <div id="container">  				
		<div id="sidebar">
			<div class="mainNavs" id="mainNavs">

			</div>
		</div>
		<script type="text/javascript">
			$(function () {
				$.ajax({
					url:"/index/jobkind.do",
					type:"get",
					success:function (data) {
						for(var i = 0;i<data.length;i++){
							var jobkind1=data[i].jobKind1Infos;
							var jobkind2=jobkind1[0].jobKind2Infos
							$("#mainNavs").append("<div class=\"menu_box\">\n" +
									"\t\t\t\t\t<div class=\"menu_main\">\n" +
									"\t\t\t\t\t\t<h2>"+data[i].jkName+"<span></span></h2>\n" +
									"\t\t\t\t\t\t<a href='/search?kd="+jobkind2[0].jk2Name+"&choose=1'>"+jobkind2[0].jk2Name+"</a>\n" +
									"\t\t\t\t\t\t<a href='/search?kd="+jobkind2[1].jk2Name+"&choose=1'>"+jobkind2[1].jk2Name+"</a>\n" +
									"\t\t\t\t\t\t<a href='/search?kd="+jobkind2[2].jk2Name+"&choose=1'>"+jobkind2[2].jk2Name+"</a>\n" +
									"\t\t\t\t\t\t<a href='/search?kd="+jobkind2[3].jk2Name+"&choose=1'>"+jobkind2[3].jk2Name+"</a>\n" +
									"\t\t\t\t\t</div>\n" +
									"\n" +
									"</div>");
							$("#mainNavs .menu_box").eq(i).append("<div class=\"menu_sub dn\">\n" +
									"</div>");
							for (var j = 0; j < jobkind1.length; j++) {
								var jobkind2=jobkind1[j].jobKind2Infos;
								$("#mainNavs .menu_sub").eq(i).append("<dl class=\"reset\">\n" +
										"\t\t\t\t\t\t\t<dt>\n" +
										"\t\t\t\t\t\t\t\t<a>"+jobkind1[j].jk1Name+"</a>\n" +
										"\t\t\t\t\t\t\t</dt><dd></dd>\n" +
										"</dl>");
								for (var k = 0; k < jobkind2.length; k++) {
									$("#mainNavs .menu_sub").eq(i).children("dl").eq(j).children("dd").append("<a href='/search?kd="+jobkind2[k].jk2Name+"&choose=1'>"+jobkind2[k].jk2Name+"</a>")
								}
							}
						}
					}
				})
				$.ajax({
					url:"/index/hotjob.do",
					type:"get",
					success:function (data) {
					    var list = data.list
					    for (var i=0;i<list.length;i++){
					        if(i/2==0){
                                $("#hotList>ul").eq(0).append("<li class=\"clearfix\">\n" +
                                    "\t\t\t\t\t\t<div class=\"hot_pos_l\">\n" +
                                    "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                    "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"\" target=\"_blank\">"+list[i].jName+"</a>&nbsp;\n" +
                                    "\t\t\t\t\t\t\t\t<span class=\"c9\">["+list[i].jLoc+"]</span>\n" +
                                    "\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">月薪： </em>"+list[i].jMlow+"k-"+list[i].jMhigh+"k</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">经验：</em>"+list[i].jExperience+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">最低学历：</em> "+list[i].jEducation+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">职位诱惑：</em>"+list[i].jBenefit+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span>"+new Date(list[i].jDate).Format("yyyy年MM月dd日")+"发布</span>\n" +
                                    "\t\t\t\t\t\t</div>\n" +
                                    "\n" +
                                    "\t\t\t\t\t\t<div class=\"hot_pos_r\">\n" +
                                    "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                    "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"\" target=\"_blank\">"+list[i].companyInfo.cName+"</a>\n" +
                                    "\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">性质：</em> "+list[i].companyInfo.cCtype+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">创始人：</em>"+list[i].companyInfo.cPname+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span> <em class=\"c7\">阶段： </em>"+list[i].companyInfo.cStage+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span> <em class=\"c7\">规模：</em>"+list[i].companyInfo.cScale+"</span>\n" +
                                    "\t\t\t\t\t\t\t<ul class=\"companyTags reset\">\n" +
                                    "\t\t\t\t\t\t\t</ul>\n" +
                                    "\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t</li>")
                                var ticketInfo = list[i].companyInfo.ticketInfos;
                                for (var j = 0; j < ticketInfo.length; j++) {
                                    $(".companyTags.reset").eq(i).append("<li>"+ticketInfo[j].ticName+"</li>")
                                }
                            }else{
                                $("#hotList>ul").eq(0).append("<li class=\"odd clearfix\">\n" +
                                "\t\t\t\t\t\t<div class=\"hot_pos_l\">\n" +
                                "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"\" target=\"_blank\">"+list[i].jName+"</a>&nbsp;\n" +
                                "\t\t\t\t\t\t\t\t<span class=\"c9\">["+list[i].jLoc+"]</span>\n" +
                                "\t\t\t\t\t\t\t</div>\n" +
                                "\t\t\t\t\t\t\t<span><em class=\"c7\">月薪： </em>"+list[i].jMlow+"k-"+list[i].jMhigh+"k</span>\n" +
                                "\t\t\t\t\t\t\t<span><em class=\"c7\">经验：</em>"+list[i].jExperience+"</span>\n" +
                                "\t\t\t\t\t\t\t<span><em class=\"c7\">最低学历：</em> "+list[i].jEducation+"</span>\n" +
                                "\t\t\t\t\t\t\t<br />\n" +
                                "\t\t\t\t\t\t\t<span><em class=\"c7\">职位诱惑：</em>"+list[i].jBenefit+"</span>\n" +
                                "\t\t\t\t\t\t\t<br />\n" +
                                "\t\t\t\t\t\t\t<span>"+new Date(list[i].jDate).Format("yyyy年MM月dd日")+"发布</span>\n" +
                                "\t\t\t\t\t\t</div>\n" +
                                "\n" +
                                "\t\t\t\t\t\t<div class=\"hot_pos_r\">\n" +
                                "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"\" target=\"_blank\">"+list[i].companyInfo.cName+"</a>\n" +
                                "\t\t\t\t\t\t\t</div>\n" +
                                "\t\t\t\t\t\t\t<span><em class=\"c7\">性质：</em> "+list[i].companyInfo.cCtype+"</span>\n" +
                                "\t\t\t\t\t\t\t<span><em class=\"c7\">创始人：</em>"+list[i].companyInfo.cPname+"</span>\n" +
                                "\t\t\t\t\t\t\t<br />\n" +
                                "\t\t\t\t\t\t\t<span> <em class=\"c7\">阶段： </em>"+list[i].companyInfo.cStage+"</span>\n" +
                                "\t\t\t\t\t\t\t<span> <em class=\"c7\">规模：</em>"+list[i].companyInfo.cScale+"</span>\n" +
                                "\t\t\t\t\t\t\t<ul class=\"companyTags reset\">\n" +
                                "\t\t\t\t\t\t\t</ul>\n" +
                                "\t\t\t\t\t\t</div>\n" +
                                "\t\t\t\t\t</li>")
                                var ticketInfo = list[i].companyInfo.ticketInfos;
                                for (var j = 0; j < ticketInfo.length; j++) {
                                    $(".companyTags.reset").eq(i).append("<li>"+ticketInfo[j].ticName+"</li>")
                                }
                            }
                        }
                        $("#hotList>ul").eq(0).append("<a href=\"/search?kd=&choose=1\" class=\"btn fr\" target=\"_blank\">查看更多</a>")
					}
				})
                $.ajax({
                    url:"/index/newjob.do",
                    type:"get",
                    success:function (data) {
                        var list = data.list
                        for (var i=0;i<list.length;i++){
                            if(i/2==0){
                                $("#hotList>ul").eq(1).append("<li class=\"clearfix\">\n" +
                                    "\t\t\t\t\t\t<div class=\"hot_pos_l\">\n" +
                                    "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                    "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"l\" target=\"_blank\">"+list[i].jName+"</a>&nbsp;\n" +
                                    "\t\t\t\t\t\t\t\t<span class=\"c9\">["+list[i].jLoc+"]</span>\n" +
                                    "\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">月薪： </em>"+list[i].jMlow+"k-"+list[i].jMhigh+"k</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">经验：</em>"+list[i].jExperience+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">最低学历：</em> "+list[i].jEducation+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">职位诱惑：</em>"+list[i].jBenefit+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span>"+new Date(list[i].jDate).Format("yyyy年MM月dd日")+"发布</span>\n" +
                                    "\t\t\t\t\t\t</div>\n" +
                                    "\n" +
                                    "\t\t\t\t\t\t<div class=\"hot_pos_r\">\n" +
                                    "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                    "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"\" target=\"_blank\">"+list[i].companyInfo.cName+"</a>\n" +
                                    "\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">性质：</em> "+list[i].companyInfo.cCtype+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">创始人：</em>"+list[i].companyInfo.cPname+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span> <em class=\"c7\">阶段： </em>"+list[i].companyInfo.cStage+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span> <em class=\"c7\">规模：</em>"+list[i].companyInfo.cScale+"</span>\n" +
                                    "\t\t\t\t\t\t\t<ul class=\"companyTags reset\">\n" +
                                    "\t\t\t\t\t\t\t</ul>\n" +
                                    "\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t</li>")
                                var ticketInfo = list[i].companyInfo.ticketInfos;
                                for (var j = 0; j < ticketInfo.length; j++) {
                                    $(".companyTags.reset").eq(i+10).append("<li>"+ticketInfo[j].ticName+"</li>")
                                }
                            }else{
                                $("#hotList>ul").eq(1).append("<li class=\"odd clearfix\">\n" +
                                    "\t\t\t\t\t\t<div class=\"hot_pos_l\">\n" +
                                    "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                    "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"\" target=\"_blank\">"+list[i].jName+"</a>&nbsp;\n" +
                                    "\t\t\t\t\t\t\t\t<span class=\"c9\">["+list[i].jLoc+"]</span>\n" +
                                    "\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">月薪： </em>"+list[i].jMlow+"k-"+list[i].jMhigh+"k</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">经验：</em>"+list[i].jExperience+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">最低学历：</em> "+list[i].jEducation+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">职位诱惑：</em>"+list[i].jBenefit+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span>"+new Date(list[i].jDate).Format("yyyy年MM月dd日")+"发布</span>\n" +
                                    "\t\t\t\t\t\t</div>\n" +
                                    "\n" +
                                    "\t\t\t\t\t\t<div class=\"hot_pos_r\">\n" +
                                    "\t\t\t\t\t\t\t<div class=\"mb10\">\n" +
                                    "\t\t\t\t\t\t\t\t<a href=\"/JobInfo2/jobdetail1?jid="+list[i].jId+"l\" target=\"_blank\">"+list[i].companyInfo.cName+"</a>\n" +
                                    "\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">性质：</em> "+list[i].companyInfo.cCtype+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span><em class=\"c7\">创始人：</em>"+list[i].companyInfo.cPname+"</span>\n" +
                                    "\t\t\t\t\t\t\t<br />\n" +
                                    "\t\t\t\t\t\t\t<span> <em class=\"c7\">阶段： </em>"+list[i].companyInfo.cStage+"</span>\n" +
                                    "\t\t\t\t\t\t\t<span> <em class=\"c7\">规模：</em>"+list[i].companyInfo.cScale+"</span>\n" +
                                    "\t\t\t\t\t\t\t<ul class=\"companyTags reset\">\n" +
                                    "\t\t\t\t\t\t\t</ul>\n" +
                                    "\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t</li>")
                                var ticketInfo = list[i].companyInfo.ticketInfos;
                                for (var j = 0; j < ticketInfo.length; j++) {
                                    $(".companyTags.reset").eq(i+10).append("<li>"+ticketInfo[j].ticName+"</li>")
                                }
                            }
                        }
                        $("#hotList>ul").eq(1).append("<a href=\"/search?kd=&choose=1\" class=\"btn fr\" target=\"_blank\">查看更多</a>")
                    }
                })
				$("#mainNavs").delegate(".menu_box","mouseenter",function () {
					if($(this).prev().position()==undefined){
						$(this).addClass("current").children(".menu_sub").css({
							top: $(this).prev().position()+60
						}).removeClass("dn");
					}else {
						$(this).addClass("current").children(".menu_sub").css({
							top: $(this).prev().position().top+60
						}).removeClass("dn");
					}

				})
				$("#mainNavs").delegate(".menu_box","mouseleave",function () {
					$(this).removeClass("current").children(".menu_sub").addClass("dn");
				})

			})
			Date.prototype.Format = function(fmt)
			{ //author: meizz
				var o = {
					"M+" : this.getMonth()+1,                 //月份
					"d+" : this.getDate(),                    //日
					"h+" : this.getHours(),                   //小时
					"m+" : this.getMinutes(),                 //分
					"s+" : this.getSeconds(),                 //秒
					"q+" : Math.floor((this.getMonth()+3)/3), //季度
					"S"  : this.getMilliseconds()             //毫秒
				};
				if(/(y+)/.test(fmt))
					fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
				for(var k in o)
					if(new RegExp("("+ k +")").test(fmt))
						fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
				return fmt;
			}
			function search() {
				var choose = $(".type_selected").attr("data-searchtype");
				var kd = $("#search_input").val()
				window.location.href="/search?kd="+kd+"&choose="+choose;
			}
		</script>

		<div class="content">
			<div id="search_box">
<!--				<form>-->
					<ul id="searchType">
						<li data-searchtype="1" class="type_selected">职位</li>
						<li data-searchtype="0">公司</li>
					</ul>
					<div class="searchtype_arrow">
					</div>
					<input type="text" id="search_input" name = "kd"  tabindex="1" value=""  placeholder="请输入职位名称，如：产品经理"  />
					<input type="hidden" name="spc" id="spcInput" value=""/>
					<input type="hidden" name="pl" id="plInput" value=""/>
					<input type="hidden" name="gj" id="gjInput" value=""/>
					<input type="hidden" name="xl" id="xlInput" value=""/>
					<input type="hidden" name="yx" id="yxInput" value=""/>
					<input type="hidden" name="gx" id="gxInput" value="" />
					<input type="hidden" name="st" id="stInput" value="" />
					<input type="hidden" name="labelWords" id="labelWords" value="" />
					<input type="hidden" name="lc" id="lc" value="" />
					<input type="hidden" name="workAddress" id="workAddress" value=""/>
					<input type="hidden" name="city" id="cityInput" value=""/>
					<input  onclick="search()" id="search_button" value="           搜索"/>
<!--				</form>-->
			</div>


			<style>
				.ui-autocomplete{width:488px;background:#fafafa !important;position: relative;z-index:10;border: 2px solid #91cebe;}
				.ui-autocomplete-category{font-size:16px;color:#999;width:50px;position: absolute;z-index:11; right: 0px;/*top: 6px; */text-align:center;border-top: 1px dashed #e5e5e5;padding:5px 0;}
				.ui-menu-item{ *width:439px;vertical-align: middle;position: relative;margin: 0px;margin-right: 50px !important;background:#fff;border-right: 1px dashed #ededed;}
				.ui-menu-item a{display:block;overflow:hidden;}
			</style>

			<script type="text/javascript" src="style/js/search.min.js"></script>

			<dl class="hotSearch">
				<dt>热门搜索：</dt>
				<dd><a href="/search?choose=1&kd=java">Java</a></dd>
				<dd><a href="/search?choose=1&kd=PHP">PHP</a></dd>
				<dd><a href="/search?choose=1&kd=Android">Android</a></dd>
				<dd><a href="/search?choose=1&kd=iOS">iOS</a></dd>
				<dd><a href="/search?choose=1&kd=前端">前端</a></dd>
				<dd><a href="/search?choose=1&kd=产品经理">产品经理</a></dd>
				<dd><a href="/search?choose=1&kd=UI">UI</a></dd>
				<dd><a href="/search?choose=1&kd=运营">运营</a></dd>
				<dd><a href="/search?choose=1&kd=BD">BD</a></dd>
				<dd><a href="/search?choose=1&kd=实习">实习</a></dd>
			</dl>

			<div id="home_banner">
				<ul class="banner_bg">
					<li  class="banner_bg_1 current" >
						<a href="h/subject/s_buyfundation.html?utm_source=DH__lagou&utm_medium=banner&utm_campaign=haomai" target="_blank"><img src="style/images/d05a2cc6e6c94bdd80e074eb05e37ebd.jpg" width="612" height="160" alt="好买基金——来了就给100万" /></a>
					</li>
					<li  class="banner_bg_2" >
						<a href="h/subject/s_worldcup.html?utm_source=DH__lagou&utm_medium=home&utm_campaign=wc" target="_blank"><img src="style/images/c9d8a0756d1442caa328adcf28a38857.jpg" width="612" height="160" alt="世界杯放假看球，老板我也要！" /></a>
					</li>
					<li  class="banner_bg_3" >
						<a href="h/subject/s_xiamen.html?utm_source=DH__lagou&utm_medium=home&utm_campaign=xiamen" target="_blank"><img src="style/images/d03110162390422bb97cebc7fd2ab586.jpg" width="612" height="160" alt="出北京记——第一站厦门" /></a>
					</li>
				</ul>
				<div class="banner_control">
					<em></em>
					<ul class="thumbs">
						<li  class="thumbs_1 current" >
							<i></i>
							<img src="style/images/4469b1b83b1f46c7adec255c4b1e4802.jpg" width="113" height="42" />
						</li>
						<li  class="thumbs_2">
							<i></i>
							<img src="style/images/381b343557774270a508206b3a725f39.jpg" width="113" height="42" />
						</li>
						<li  class="thumbs_3" >
							<i></i>
							<img src="style/images/354d445c5fd84f1990b91eb559677eb5.jpg" width="113" height="42" />
						</li>
					</ul>
				</div>
			</div><!--/#main_banner-->


			<ul id="da-thumbs" class="da-thumbs">
				<li>
					<a href="h/c/1650.html" target="_blank">
						<img src="style/images/a254b11ecead45bda166afa8aaa9c8bc.jpg" width="113" height="113" alt="联想" />
						<div class="hot_info">
							<h2 title="联想">联想</h2>
							<em></em>
							<p title="世界因联想更美好">世界因联想更美好</p>
						</div>
					</a>
				</li>
				<li>
					<a href="h/c/9725.html" target="_blank">
						<img src="style/images/c75654bc2ab141df8218983cfe5c89f9.jpg" width="113" height="113" alt="淘米" />
						<div class="hot_info">
							<h2 title="淘米">淘米</h2>
							<em></em>
							<p title="将心注入 追求极致">将心注入 追求极致</p>
						</div>
					</a>
				</li>
				<li >
					<a href="h/c/1914.html" target="_blank">
						<img src="style/images/2bba2b71d0b0443eaea1774f7ee17c9f.png" width="113" height="113" alt="优酷土豆" />
						<div class="hot_info">
							<h2 title="优酷土豆">优酷土豆</h2>
							<em></em>
							<p title="专注于视频领域，是中国网络视频行业领军企业">专注于视频领域，是中国网络视频行业领军企业</p>
						</div>
					</a>
				</li>
				<li>
					<a href="h/c/6630.html" target="_blank">
						<img src="style/images/f4822a445a8b495ebad81fcfad3e40e2.jpg" width="113" height="113" alt="思特沃克" />
						<div class="hot_info">
							<h2 title="思特沃克">思特沃克</h2>
							<em></em>
							<p title="一家全球信息技术服务公司">一家全球信息技术服务公司</p>
						</div>
					</a>
				</li>
				<li>
					<a href="h/c/2700.html" target="_blank">
						<img src="style/images/5caf8f9631114bf990f87bb11360653e.png" width="113" height="113" alt="奇猫" />
						<div class="hot_info">
							<h2 title="奇猫">奇猫</h2>
							<em></em>
							<p title="专注于移动互联网、互联网产品研发">专注于移动互联网、互联网产品研发</p>
						</div>
					</a>
				</li>
				<li  class="last" >
					<a href="h/c/1335.html" target="_blank">
						<img src="style/images/c0052c69ef4546c3b7d08366d0744974.jpg" width="113" height="113" alt="堆糖网" />
						<div class="hot_info">
							<h2 title="堆糖网">堆糖网</h2>
							<em></em>
							<p title="分享收集生活中的美好，遇见世界上的另外一个你">分享收集生活中的美好，遇见世界上的另外一个你</p>
						</div>
					</a>
				</li>
			</ul>

			<ul class="reset hotabbing">
				<li class="current">热门职位</li>
				<li>最新职位</li>
			</ul>

			<div id="hotList">
				<ul class="hot_pos reset">


				</ul>

				<ul class="hot_pos hot_posHotPosition reset" style="display:none;">

<!--					<a href="/search?kd=&choose=1" class="btn fr" target="_blank">查看更多</a>-->
				</ul>
			</div>



			<input type="hidden" value="" name="userid" id="userid" />



			<!-------------------------------------弹窗lightbox  ----------------------------------------->
			<div style="display:none;">
				<!-- 登录框 -->
				<div id="loginPop" class="popup" style="height:240px;">
					<form id="loginForm">
						<input type="text" id="email" name="email" tabindex="1" placeholder="请输入登录邮箱地址" />
						<input type="password" id="password" name="password" tabindex="2" placeholder="请输入密码" />
						<span class="error" style="display:none;" id="beError"></span>
						<label class="fl" for="remember"><input type="checkbox" id="remember" value="" checked="checked" name="autoLogin" /> 记住我</label>
						<a href="h/reset.html" class="fr">忘记密码？</a>
						<input type="submit" id="submitLogin" value="登 &nbsp; &nbsp; 录" />
					</form>
					<div class="login_right">
						<div>还没有启职者帐号？</div>
						<a href="register.html" class="registor_now">立即注册</a>
						<div class="login_others">使用以下帐号直接登录:</div>
						<a href="h/ologin/auth/sina.html" target="_blank" id="icon_wb" class="icon_wb" title="使用新浪微博帐号登录"></a>
						<a href="h/ologin/auth/qq.html" class="icon_qq" id="icon_qq" target="_blank" title="使用腾讯QQ帐号登录" ></a>
					</div>
				</div><!--/#loginPop-->
			</div>
			<!------------------------------------- end ----------------------------------------->
			<script type="text/javascript" src="style/js/Chart.min.js"></script>
			<script type="text/javascript" src="style/js/home.min.js"></script>
			<script type="text/javascript" src="style/js/count.js"></script>
			<div class="clear"></div>
			<input type="hidden" id="resubmitToken" value="" />
			<a id="backtop" title="回到顶部" rel="nofollow"></a>
		</div><!-- end #container -->
	</div><!-- end #body -->


	<script type="text/javascript" src="style/js/core.min.js"></script>
	<script type="text/javascript" src="style/js/popup.min.js"></script>



</div></body>
</html>