<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <script id="allmobilize" charset="utf-8" src="style/js/allmobilize.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate" media="handheld"/>
    <!-- end 云适配 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>启职者-最专业的互联网招聘平台</title>
    <meta property="qc:admins" content="23635710066417756375"/>
    <meta content="启职者" name="description">
    <meta content="启职者" name="keywords">
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6"/>

    <!-- <div class="web_root"  style="display:none">h</div> -->
    <link rel="Shortcut Icon" href="http://www.lagou.com/h/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/style/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/style/css/external.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style/css/popup.css"/>
    <script src="/style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/style/js/jquery.lib.min.js"></script>
    <script src="/style/js/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript" src="/style/js/additional-methods.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="/style/js/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/style/js/conv.js"></script>
</head>
<body>
<div id="body">
    <div id="header">
        <div class="wrapper">
            <a href="/index.html" class="logo">
                <img src="/style/images/logo.png" width="229" height="60" alt="启职者"/>
            </a>
            <ul class="reset" id="navheader">
                <li><a href="index.html">首页</a></li>
                <li><a href="companylist.html">公司</a></li>
                <li><a href="jianli.html" rel="nofollow">我的简历</a></li>
            </ul>
            <ul class="loginTop">
                <li><a href="login.html" rel="nofollow">登录</a></li>
                <li>|</li>
                <li><a href="register.html" rel="nofollow">注册</a></li>
            </ul>
        </div>
    </div><!-- end #header -->
    <div id="container">

        <div class="sidebar">
            <div id="options" class="greybg">
                <dl>
                    <dt>月薪范围 <em></em></dt>
                    <dd id="money">
                        <div min="0" max="2">2k以下</div>
                        <div min="2" max="5">2k-5k</div>
                        <div min="5" max="10">5k-10k</div>
                        <div min="10" max="15">10k-15k</div>
                        <div min="15" max="25">15k-25k</div>
                        <div min="25" max="50">25k-50k</div>
                        <div min="50" max="100">50k以上</div>
                    </dd>
                </dl>
                <dl>
                    <dt>工作经验 <em></em></dt>
                    <dd id="experience">
                        <div>不限</div>
                        <div>应届毕业生</div>
                        <div>1年以下</div>
                        <div>1-3年</div>
                        <div>3-5年</div>
                        <div>5-10年</div>
                        <div>10年以上</div>
                    </dd>
                </dl>
                <dl>
                    <dt>最低学历 <em></em></dt>
                    <dd id="education">
                        <div>不限</div>
                        <div>大专</div>
                        <div>本科</div>
                        <div>硕士</div>
                        <div>博士</div>
                    </dd>
                </dl>
                <dl>
                    <dt>工作性质 <em></em></dt>
                    <dd id="nature">
                        <div>全职</div>
                        <div>兼职</div>
                        <div>实习</div>
                    </dd>
                </dl>
                <dl>
                    <dt>发布时间 <em></em></dt>
                    <dd id="date">
                        <div date="1">今天</div>
                        <div date="3">3天内</div>
                        <div date="7">一周内</div>
                        <div date="30">一月内</div>
                    </dd>
                </dl>
            </div>

            <!-- QQ群 -->
            <div class="qq_group">
                加入<span>前端</span>QQ群
                <div class="f18">跟同行聊聊</div>
                <p>160541839</p>
            </div>

            <!-- 对外合作广告位  -->
            <a href="http://www.w3cplus.com/" target="_blank" class="partnersAd">
                <img src="/style/images/w3cplus.png" width="230" height="80" alt="w3cplus"/>
            </a>
            <a href="" target="_blank" class="partnersAd">
                <img src="/style/images/jquery_school.jpg" width="230" height="80" alt="JQ学校"/>
            </a>
            <a href="http://linux.cn/" target="_blank" class="partnersAd">
                <img src="/style/images/linuxcn.png" width="230" height="80" alt="Linux中文社区"/>
            </a>
            <a href="http://zt.zhubajie.com/zt/makesite? utm_source=lagou.com&utm_medium=referral&utm_campaign=BD-yl"
               target="_blank" class="partnersAd">
                <img src="/style/images/zhubajie.jpg" width="230" height="80" alt="猪八戒"/>
            </a>
            <a href="http://www.imooc.com" target="_blank" class="partnersAd">
                <img src="/style/images/muke.jpg" width="230" height="80" alt="幕课网"/>
            </a>
            <!-- 	            <a href="http://www.osforce.cn/" target="_blank" class="partnersAd">
     <img src="style/images/osf-lg.jpg" width="230" height="80" alt="开源力量"  />
 </a>
-->
        </div>

        <div class="content">
            <div id="search_box">
<!--                <form >-->
                    <ul id="searchType">
                        <li data-searchtype="1" class="type_selected">职位</li>
                        <li data-searchtype="4">公司</li>
                    </ul>
                    <div class="searchtype_arrow"></div>
                    <input type="text" id="search_input" name="kd" tabindex="1" th:value="${kd}"
                           placeholder="请输入职位名称，如：产品经理"/>
                    <input type="hidden" name="spc" id="spcInput" value="1"/>
                    <input type="hidden" name="pl" id="plInput" value=""/>
                    <input type="hidden" name="gj" id="gjInput" value=""/>
                    <input type="hidden" name="xl" id="xlInput" value=""/>
                    <input type="hidden" name="yx" id="yxInput" value=""/>
                    <input type="hidden" name="gx" id="gxInput" value=""/>
                    <input type="hidden" name="st" id="stInput" value=""/>
                    <input type="hidden" name="labelWords" id="labelWords" value="label"/>
                    <input type="hidden" name="lc" id="lc" value=""/>
                    <input type="hidden" name="workAddress" id="workAddress" value=""/>
                    <input type="hidden" name="city" id="cityInput" value="全国"/>
                    <input onclick="search()" id="search_button" value="           搜索"/>
<!--                </form>-->
            </div>
            <style>
                .ui-autocomplete {
                    width: 488px;
                    background: #fafafa !important;
                    position: relative;
                    z-index: 10;
                    border: 2px solid #91cebe;
                }

                .ui-autocomplete-category {
                    font-size: 16px;
                    color: #999;
                    width: 50px;
                    position: absolute;
                    z-index: 11;
                    right: 0px; /*top: 6px; */
                    text-align: center;
                    border-top: 1px dashed #e5e5e5;
                    padding: 5px 0;
                }

                .ui-menu-item {
                    *width: 439px;
                    vertical-align: middle;
                    position: relative;
                    margin: 0px;
                    margin-right: 50px !important;
                    background: #fff;
                    border-right: 1px dashed #ededed;
                }

                .ui-menu-item a {
                    display: block;
                    overflow: hidden;
                }
                .pagination {
                    margin: 0;
                    padding: 10px;
                    background-color: #fff;
                    border-radius: 40px;
                    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
                    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
                }
                .pagination li {
                    display: inline-block;
                    list-style: none;
                }
                .pagination li a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #fff;
                    text-align: center;
                    text-decoration: none;
                    color: #252525;
                    border-radius: 4px;
                    margin: 5px;
                    -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
                    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                .pagination li a:hover, .pagination li a.active {
                    color: #fff;
                    background-color: #006b52;
                }
                .pagination li:first-child a {
                    border-radius: 40px 0 0 40px;
                }
                .pagination li:last-child a {
                    border-radius: 0 40px 40px 0;
                }

            </style>
            <script type="text/javascript" src="style/js/search.min.js"></script>
            <script type="text/javascript">
                function search() {
                    var choose = $(".type_selected").attr("data-searchtype");
                    var kd = $("#search_input").val()
                    window.location.href="/search?kd="+kd+"&choose="+choose;
                }
            </script>
            <dl class="hotSearch">
                <dt>热门搜索：</dt>
                <dd><a href="/search?kd=java&choose=1">Java</a></dd>
                <dd><a href="/search?kd=PHP&choose=1">PHP</a></dd>
                <dd><a href="/search?kd=Android&choose=1">Android</a></dd>
                <dd><a href="/search?kd=iOS&choose=1">iOS</a></dd>
                <dd><a href="/search?kd=前端&choose=1">前端</a></dd>
                <dd><a href="/search?kd=产品经理&choose=1">产品经理</a></dd>
                <dd><a href="/search?kd=UI&choose=1">UI</a></dd>
                <dd><a href="/search?kd=运营&choose=1">运营</a></dd>
                <dd><a href="/search?kd=BD&choose=1">BD</a></dd>
                <dd><a href="/search?kd=实习&choose=1">实习</a></dd>
            </dl>
            <div class="breakline"></div>
            <dl class="workplace" id="workplaceSelect">
                <dt class="fl">工作地点：</dt>
                <dd>
                    <a id="sel" style="background-color: #009875;color: white">全国</a>
                    |
                </dd>
                <dd>
                    <a>北京</a>
                    |
                </dd>
                <dd>
                    <a>上海</a>
                    |
                </dd>
                <dd>
                    <a>广州</a>
                    |
                </dd>
                <dd>
                    <a>深圳</a>
                    |
                </dd>
                <dd>
                    <a>成都</a>
                    |
                </dd>
                <dd>
                    <a>杭州</a>
                    |
                </dd>
                <dd>
                    <a>武汉</a>
                    |
                </dd>
                <dd>
                    <a>南京</a>
                    |
                </dd>
                <dd class="more">
                    <a href="javascript:;">其他</a>
                    <div class="triangle citymore_arrow"></div>
                </dd>
                <dd id="box_expectCity" class="searchlist_expectCity dn">
                    <span class="bot"></span>
                    <span class="top"></span>
                    <dl>
                        <dt>ABCDEF</dt>
                        <dd>
                            <span>北京</span>
                            <span>长春</span>
                            <span>成都</span>
                            <span>重庆</span>
                            <span>长沙</span>
                            <span>常州</span>
                            <span>东莞</span>
                            <span>大连</span>
                            <span>佛山</span>
                            <span>福州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>GHIJ</dt>
                        <dd>
                            <span>贵阳</span>
                            <span>广州</span>
                            <span>哈尔滨</span>
                            <span>合肥</span>
                            <span>海口</span>
                            <span>杭州</span>
                            <span>惠州</span>
                            <span>金华</span>
                            <span>济南</span>
                            <span>嘉兴</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>KLMN</dt>
                        <dd>
                            <span>昆明</span>
                            <span>廊坊</span>
                            <span>宁波</span>
                            <span>南昌</span>
                            <span>南京</span>
                            <span>南宁</span>
                            <span>南通</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>OPQR</dt>
                        <dd>
                            <span>青岛</span>
                            <span>泉州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>STUV</dt>
                        <dd>
                            <span>上海</span>
                            <span>石家庄</span>
                            <span>绍兴</span>
                            <span>沈阳</span>
                            <span>深圳</span>
                            <span>苏州</span>
                            <span>天津</span>
                            <span>太原</span>
                            <span>台州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>WXYZ</dt>
                        <dd>
                            <span>武汉</span>
                            <span>无锡</span>
                            <span>温州</span>
                            <span>西安</span>
                            <span>厦门</span>
                            <span>烟台</span>
                            <span>珠海</span>
                            <span>中山</span>
                            <span>郑州</span>
                        </dd>
                    </dl>
                </dd>
            </dl>

            <div id="tip_didi" class="dn">
                <span>亲，“嘀嘀打车”已更名为“滴滴打车”了哦，我们已帮您自动跳转~</span>
                <a href="javascript:;">我知道了</a>
            </div>
            <div id="result">
            <ul class="hot_pos reset" th:each="job:${page.list}">
                <li class="odd clearfix">
                    <div class="hot_pos_l">
                        <div class="mb10">
                            <a href="h/jobs/86989.html" title="前端开发" target="_blank" th:text="${job.jName}">前端开发</a>
                            &nbsp;
                            <span class="c9" th:text="${job.jLoc}">[北京]</span>
                        </div>
                        <span><em class="c7">月薪：</em>[[${job.jMlow}]]k-[[${job.jMhigh}]]k</span>
                        <span><em class="c7">经验：</em> [[${job.jExperience}]]</span>
                        <span><em class="c7">最低学历： </em>[[${job.jEducation}]]</span>
                        <br/>
                        <span><em class="c7">职位诱惑：</em>[[${job.jBenefit}]]</span>
                        <br/>
                        <span>[[${#strings.substring(job.jDate,0,10)}]]发布</span>
                    </div>
                    <div class="hot_pos_r">
                        <div class="apply">
                            <a th:href="@{/test(jobId=${job.jId})}" target="_blank">投个简历</a>
                        </div>
                        <div class="mb10"><a href="h/c/1712.html" title="紫色医疗" target="_blank" th:text="${job.companyInfo.cName}">紫色医疗</a></div>
                        <span><em class="c7">性质： </em>[[${job.companyInfo.cCtype}]]</span>
                        <span><em class="c7">创始人：</em> [[${job.companyInfo.cPname}]]</span>
                        <br/>
                        <span><em class="c7">阶段： </em>[[${job.companyInfo.cStage}]]</span>
                        <span><em class="c7">规模： </em>[[${job.companyInfo.cScale}]]</span>
                        <ul class="companyTags reset" th:each="ticket:${job.companyInfo.ticketInfos}">
                            <li th:text="${ticket.ticName}"></li>
                        </ul>
                    </div>
                </li>

            </ul>
            </div>
            <div id="page">
                <ul class="pagination">
                    <li th:if="${page.hasPreviousPage}"><a th:href="@{/search(kd=${kd},pageNum=${page.pageNum}-1,choose=${choose})}">&lt;</a></li>
                    <li th:if="${!page.hasPreviousPage}"><a th:href="@{#}">&lt;</a></li>
                    <li th:each="i:${#numbers.sequence(1,page.pages)}"><a th:class="${i==page.pageNum}?'active':''" th:href="@{/search(kd=${kd},pageNum=${i},choose=${choose})}">[[${i}]]</a></li>
                    <li th:if="${page.hasNextPage}"><a th:href="@{/search(kd=${kd},pageNum=${page.pageNum}+1,choose=${choose})}">&gt;</a></li>
                    <li th:if="${!page.hasNextPage}"><a th:href="@{#}">&gt;</a></li>
                </ul>
            </div>
        </div>

        <script>
            $(function () {
                $("#workplaceSelect dd a").click(function () {
                    var addr = $(this).text();
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"addr":addr},
                        success:function (data) {
                            reload(data);
                            $("#sel").text(addr)
                        }
                    })
                })
                $("#workplaceSelect dd dl span").click(function () {
                    var addr = $(this).text()
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"addr":addr},
                        success:function (data) {
                            reload(data);
                            $("#sel").text(addr)
                        }
                    })
                })
                $('#money div').click(function (){
                    var low = $(this).attr('min');
                    var high = $(this).attr('max');
                    $(this).parent().children().removeAttr("style")
                    $(this).css({"background-color":"#006b52",color: "white"});
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"low":low,high:high},
                        success:function (data) {
                            reload(data);
                        }
                    })
                })
                $('#experience div').click(function(){
                    var exp = $(this).text()
                    $(this).parent().children().removeAttr("style")
                    $(this).css({"background-color":"#006b52",color: "white"});
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"exp":exp},
                        success:function (data) {
                            reload(data);
                        }
                    })
                })
                $('#education div').click(function(){
                    var education = $(this).text();
                    $(this).parent().children().removeAttr("style")
                    $(this).css({"background-color":"#006b52",color: "white"});
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"education":education},
                        success:function (data) {
                            reload(data);
                        }
                    })
                })
                $('#nature div').click(function(){
                    var nature = $(this).text();
                    $(this).parent().children().removeAttr("style")
                    $(this).css({"background-color":"#006b52",color: "white"});
                    alert(nature)
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"nature":nature},
                        success:function (data) {
                            reload(data);
                            //$(this).parent().children()
                        }
                    })
                })
                $('#date div').click(function(){
                    var date = $(this).attr("date");
                    $(this).parent().children().removeAttr("style")
                    $(this).css({"background-color":"#006b52",color: "white"});
                    $.ajax({
                        url:"/condition",
                        type:"get",
                        data:{"date":date},
                        success:function (data) {
                            reload(data);
                        }
                    })
                })
            })
            function reload(data){
                $("#result").empty();
                var list = data.list;
                for (var i=0;i<list.length;i++) {
                    $("#result").append("<ul  class=\"hot_pos reset\"><li class=\"odd clearfix\">\n" +
                        "                    <div class=\"hot_pos_l\">\n" +
                        "                        <div class=\"mb10\">\n" +
                        "                            <a href=\"h/jobs/86989.html\" title=\"前端开发\" target=\"_blank\">"+list[i].jName+"</a>\n" +
                        "                            &nbsp;\n" +
                        "                            <span class=\"c9\" >"+list[i].jLoc+"</span>\n" +
                        "                        </div>\n" +
                        "                        <span><em class=\"c7\">月薪：</em>"+list[i].jMlow+"k-"+list[i].jMhigh+"k</span>\n" +
                        "                        <span><em class=\"c7\">经验：</em> "+list[i].jExperience+"</span>\n" +
                        "                        <span><em class=\"c7\">最低学历： </em>"+list[i].jEducation+"</span>\n" +
                        "                        <br/>\n" +
                        "                        <span><em class=\"c7\">职位诱惑：</em>"+list[i].jBenefit+"</span>\n" +
                        "                        <br/>\n" +
                        "                        <span>"+new Date(list[i].jDate).Format("yyyy-MM-dd")+"发布</span>\n" +
                        "                    </div>\n" +
                        "                    <div class=\"hot_pos_r\">\n" +
                        "                        <div class=\"apply\">\n" +
                        "                            <a href=\"text?jobId="+list[i].jId+"\" target=\"_blank\">投个简历</a>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"mb10\"><a href=\"h/c/1712.html\" title=\"紫色医疗\" target=\"_blank\" >"+list[i].companyInfo.cName+"</a></div>\n" +
                        "                        <span><em class=\"c7\">性质： </em>"+list[i].companyInfo.cCtype+"</span>\n" +
                        "                        <span><em class=\"c7\">创始人：</em> "+list[i].companyInfo.cPname+"</span>\n" +
                        "                        <br/>\n" +
                        "                        <span><em class=\"c7\">阶段： </em>"+list[i].companyInfo.cStage+"</span>\n" +
                        "                        <span><em class=\"c7\">规模： </em>"+list[i].companyInfo.cScale+"</span>\n" +
                        "                        <ul class=\"companyTags reset\" >\n" +
                        "                        </ul>\n" +
                        "                    </div>\n" +
                        "                </li></ul>");
                    var ticketInfo = list[i].companyInfo.ticketInfos;
                    for (var j = 0; j < ticketInfo.length; j++) {
                        $(".companyTags.reset").eq(i).append("<li>"+ticketInfo[j].ticName+"</li>")
                    }
                }
                $("#page ul").empty();
                var pageNum = data.pageNum;
                if (data.hasPreviousPage) {
                    $("#page ul").append("<li><a href=\"/condition?pageNum="+pageNum-1+"\">&lt;</a></li>")
                }else{
                    $("#page ul").append("<li><a href=\"#\">&lt;</a></li>")
                }
                for (var i = 1; i <= data.pages; i++) {
                    if (i == pageNum) {$("#page ul").append("<li><a class=\"active\" href=\"/condition?pageNum="+i+"\">"+i+"</a></li>")}
                    else {$("#page ul").append("<li><a href=\"/condition?pageNum="+i+"\">"+i+"</a></li>")}
                }
                if (data.hasNextPage) {
                    $("#page ul").append("<li><a href=\"/condition?pageNum="+pageNum+1+"\">&gt;</a></li>")
                }else{
                    $("#page ul").append("<li><a href=\"#\">&gt;</a></li>")
                }
            }
            Date.prototype.Format = function(fmt)
            { //author: meizz
                var o = {
                    "M+" : this.getMonth()+1,                 //月份
                    "d+" : this.getDate(),                    //日
                    "h+" : this.getHours(),                   //小时
                    "m+" : this.getMinutes(),                 //分
                    "s+" : this.getSeconds(),                 //秒
                    "q+" : Math.floor((this.getMonth()+3)/3), //季度
                    "S"  : this.getMilliseconds()             //毫秒
                };
                if(/(y+)/.test(fmt))
                    fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
                for(var k in o)
                    if(new RegExp("("+ k +")").test(fmt))
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                return fmt;
            }

        </script>

        <div class="clear"></div>
        <input type="hidden" id="resubmitToken" value=""/>
        <a id="backtop" title="回到顶部" rel="nofollow"></a>
    </div><!-- end #container -->
</div><!-- end #body -->


<script type="text/javascript" src="style/js/core.min.js"></script>
<script type="text/javascript" src="style/js/popup.min.js"></script>

<!--  -->

</body>
</html>